@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1644837962651') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gerenzhongxin:before {
  content: "\e651";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-guanji:before {
  content: "\e666";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62f";
}

